.bills-section {
    margin-top: 15px;
    padding: 20px;
    background: #d3eef0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
}

.bills-section .content .bill-details {
    width: 350px;
    height: 150px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 8px;
    transition: box-shadow 0.3s ease-in-out;
    position: relative;
}

.bills-section .content .bill-details:hover {
    background: #e7e4ad;
}

.bill-detail {
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px 40px;
    position: fixed;
    background: rgba(84, 131, 197, 0.25);
}

.bill-detail .container {
    margin-top: 5%;
    margin-left: 34%;
    width: 500px;
    height: 500px;
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
}

.bill-detail .container .closebtn {
    margin-left: 98%;
    border: none;
    outline: none;
    background: none;
    font-size: 25px;
    cursor: pointer;
}

.bill-detail .container .bill-box {
    max-width: 100%;
    display: flex;
    padding: 20px 20px;
}

.bill-detail .container .bill-box .detail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.bill-detail .container .bill-box .detail .buttons {
    position: absolute;
    margin-top: 500px;
    left: 78%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
}

.bill-detail .container .bill-box .detail .buttons button {
    margin: 40px;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.bill-detail .container .bill-box .detail .buttons button:hover {
    color: #fff;
    transition: 0.5s;
}

/* Button styles */
.bill-detail .container .bill-box .detail .buttons button#a {
    background: #6a6ae4;
}

.bill-detail .container .bill-box .detail .buttons button#r {
    background: #f36161;
}


.bill-detail .container .bill-box li {
    list-style: none;
}

.no-bill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #d3eef0;
}

.no-bill .content {
    margin-top: 100px;
    margin-bottom: 100px;
}

.no-bill .content h1 {
    margin-left: 50%;
}