@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(#0dccac , #0dccac 50%, #fff 50%, #fff);
}

.about-container .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-container .content .box {
    position: relative;
    width: 320px;
    background: #fff;
    padding: 100px 40px 60px;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.1);
}

.about-container .content .box:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #07b150;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}

.about-container .content .box:hover:before {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}

.about-container .content .box h2 {
    position: absolute;
    left: 40px;
    top: 60px;
    font-size: 4em;
    font-weight: 800;
    z-index: 1;
    opacity: 0.1;
    transition: 0.5s;
}

.about-container .content .box:hover h2 {
    opacity: 1;
    color: #fff;
    transform: translateY(-40px);
}

.about-container .content .box h3 {
    position: relative;
    font-size: 1.5em;
    z-index: 2;
    color: #333;
    transition: 0.5s;
}

.about-container .content .box p {
    position: relative;
    z-index: 1;
    color: #060000;
    transition: 0.5s;
}

.about-container .content .box:hover h3, 
.about-container .content .box:hover p {
    color: #fff;
}