.success-container {
    background-color: #b9dfec;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.success-message {
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 100px;
}

.success-message .btn {
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    color: beige;
    background: #040209;
    border-radius: 5px;
}

.success-message h1 {
    margin-bottom: 30px;
}